:root {
   --bg-rojo: linear-gradient(to right, #ff6e64 0%, #ff9951 100%);
   --bg-azul: linear-gradient(to right, #5477f0 0%, #6c64ee 100%);

   --blanco: #fff;
   --naranja: #ffa04e;
   --melon: #ff6567;
   --morado: #7963f1;
   --gris: #e8e8e8;
   --grisc: #f9f9f9;
   --negro: #454545;
   --azul: #3A79F0;
   --rojo: #ff6567;
   --gris-secon: #eee;
   --azul-secon: #5477f0;

   --gris-border: #999;

   //rgba
   --azul-rgb: rgba(84, 118, 240, 0.3);

   //z-index
   --z-loading: 1150;
}
